In [2]:
from bs4 import BeautifulSoup
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import requests

In [129]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Question 1: Use yfinance to Extract Stock Data

In [6]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function history extract stock information and save it in a dataframe named tesla_data. Set the period parameter to "max" so we get information for the maximum amount of time.

In [ ]:
tesla_data = tesla.history(period = "max")

Reset the index using the reset_index(inplace=True) function on the tesla_data DataFrame and display the first five rows of the tesla_data dataframe using the head function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [11]:
tesla_data.reset_index(inplace= True)

In [13]:
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

Question 2: Use Webscraping to Extract Tesla Revenue Data

In [4]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [10]:
html_data = requests.get(url).text

Parse the html data using beautiful_soup using parser i.e html5lib or html.parser. Make sure to use the html_data with the content parameter as follow html_data.content

In [8]:
soup = BeautifulSoup(html_data, "html5lib")

Using BeautifulSoup or the read_html function extract the table with Tesla Revenue and store it into a dataframe named tesla_revenue. The dataframe should have columns Date and Revenue

In [88]:
tesla_revenue = pd.DataFrame({"Date", "Revenue"})

In [96]:
for rows in soup.find("tbody").find_all("tr"):
    columns = rows.find_all("td")
    new_date = columns[0].text
    new_revenue = columns[1].text
    tesla_revenue._append({"Date" : new_date, "Revenue": new_revenue}, ignore_index= True)

In [ ]:
tesla_revenue._append({"Date" : new_date, "Revenue": new_revenue}, ignore_index= True)

In [ ]:
tesla_revenue.tail

In [ ]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace('$',"")

In [ ]:
tesla_revenue.head

In [63]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [64]:
tesla_revenue.tail()

Empty DataFrame
Columns: [0, Date, Revenue]
Index: []

Question 3: Use yfinance to Extract Stock Data

Using the Ticker function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is GME

In [105]:
gamestop = yf.Ticker("GME")

Using the ticker object and the function history extract stock information and save it in a dataframe named gme_data. Set the period parameter to "max" so we get information for the maximum amount of time.

In [111]:
gme_data = gamestop.history(period = "max")

$GME: possibly delisted; No timezone found

Reset the index using the reset_index(inplace=True) function on the gme_data DataFrame and display the first five rows of the gme_data dataframe using the head function. Take a screenshot of the results and code from the beginning of Question 3 to the results below

In [ ]:
gme_data.reset_index (inplace= True)

In [110]:
gme_data.head

<bound method NDFrame.head of Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []>

Question 4: Use Webscraping to Extract GME Revenue Data

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named html_data_2.

In [112]:
url_2 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html."

In [114]:
data= requests.get(url_2).text

Parse the html data using beautiful_soup using parser i.e html5lib or html.parser.

In [121]:
soup_2 = BeautifulSoup(data, "xml")

Using BeautifulSoup or the read_html function extract the table with GameStop Revenue and store it into a dataframe named gme_revenue. The dataframe should have columns Date and Revenue. Make sure the comma and dollar sign is removed from the Revenue column.

Note: Use the method similar to what you did in question 2.

In [116]:
gme_revenue = pd.DataFrame({"Date", "Revenue"})

In [ ]:
for row_2 in soup_2.find("tbody").find_All("tr"):
    columns_2 = rows_2.findall("td")
    new_date_2 = columns_2[0]
    new_revenue_2 = columns_2[1]

    gme_revenue._append({"Date":new_date_2, "Revenue":new_revenue_2})

Question 5: Plot Tesla Stock Graph

In [ ]:
make_graph(tesla_date,tesla_revenue,"tesla")

Question 6: Plot GameStop Stock Graph

In [ ]:
make_graph(gme_data,gme_revenue,"gamestop")